<template>
  <v-layout row wrap>
    <v-flex xs12>
      <v-card color="blue-grey darken-2" class="white--text">
        <v-card-title primary-title>
          <div class="headline">Target :</div>
          <v-spacer></v-spacer>
          <div class="headline">{{ infos.observed.toLocaleString(undefined, {maximumFractionDigits: 0}) }} MWh</div>
        </v-card-title>
      </v-card>
    </v-flex>
    <v-flex xs12>
      <v-card color="blue-grey darken-2" class="white--text">
        <v-card-title primary-title>
          <div class="headline">Predicted :</div>
          <v-spacer></v-spacer>
          <div class="headline">{{ infos.predict.toLocaleString(undefined, {maximumFractionDigits: 0}) }} MWh</div>
        </v-card-title>
      </v-card>
    </v-flex>
    <v-flex xs12>
      <v-card  class="white--text">
        <v-card-title primary-title>
          <chartjs-horizontal-bar id="barchart"
            :datalabel="'Contribution'"
            :labels="infos.contrib.labels"
            :data="infos.contrib.effects"
            :height="300"
          ></chartjs-horizontal-bar>
        </v-card-title>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
  export default {
    props: {
      infos: {'observed': 0, 'predict': 0, 'contrib': {'labels': [], 'effects': []}}
    },
    data () {
      return {}
    }
  }
</script>

<style>
  v-card-media {
    -webkit-box-shadow: 5px 5px 0px 10px #e1f5fe;
    -moz-box-shadow: 5px 5px 0px 10px #e1f5fe;
    box-shadow: 5px 5px 0px 10px #e1f5fe;
  }
</style>
