<template>
  <div id="map">
    <div class="wrapper">
      <v-map :zoom="zoom" :center="center">
        <v-tilelayer :url="url" :attribution="attribution" :max-zoom="maxZoom"></v-tilelayer>

        <v-polygon v-for="area in areas"

                   :key="area.id"
                   :ref="area.id"
                   :lat-lngs="area.geometry.coordinates"
                   :color="defaultColor"
                   :fillColor="rainbow(area.conso)"
                   :weight="2"
                   :fillOpacity="0.4"

                   @l-click="selectArea(area)"
                   @l-mouseover="updateHover(area.name); changeOpacity($event)"
                   @l-mouseout="resetOpacity($event)"
                   @l-dblclick="zoomIn(area)"
        >
          <v-popup :content="area.conso.toLocaleString(undefined, {maximumFractionDigits: 0}) + ' MWh'"></v-popup>
        </v-polygon>

      </v-map>
    </div>
  </div>
</template>


<script>
  import Vue2Leaflet from 'vue2-leaflet'

  let colors = {
    blue: '#4876ff',
    pink: '#ffc0cb',
    orange: '#ffa500',
    cyan: '#00ffff',
    green: '#228b22',
    yellow: '#ffff00',
    red: '#ee0000',
    grey: '#787878',
    black: '#000000',
    white: '#ffffff'
  }

  export default {
    name: 'map',
    components: {
      'v-map': Vue2Leaflet.Map,
      'v-tilelayer': Vue2Leaflet.TileLayer,
      'v-polygon': Vue2Leaflet.Polygon,
      'v-popup': Vue2Leaflet.Popup,
      'v-marker': Vue2Leaflet.Marker
    },
    props: {
      selectionColor: {
        type: String,
        custom: true,
        default: '#4876ff'
      },
      selectedArea: {}
    },
    data () {
      return {
        colors: colors,
        defaultColor: colors.grey,
        defaultOpacity: 0.4,
        zoom: 6,
        maxZoom: 18,
        center: [46.227638, 2.213749],
        url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a>',
        areas: [],
        area_level: 'region',
        previousSelectedArea: false,
        consoRange: []
      }
    },
    methods: {
      selectArea (area) {
        this.$emit('areaSelection', area)
        if (this.previousSelectedArea) {
          if (this.previousSelectedArea.id !== area.id) {
            this.$refs[this.previousSelectedArea.id][0].setColor(this.defaultColor)
          }
        }
        this.previousSelectedArea = area
      },
      updateHover (content) {
        this.$emit('hoverChange', content)
      },
      changeOpacity (event) {
        event.target.bringToFront()
        event.target.setStyle(
          {
            color: colors.white,
            fillOpacity: this.defaultOpacity / 2
          }
        )
      },
      resetOpacity (event) {
        event.target.setStyle(
          {
            color: this.defaultColor,
            fillOpacity: this.defaultOpacity
          }
        )
      },
      zoomIn (area) {
        if (area.level_hierarchy.child_level !== '') {
          var childLevel = area.level_hierarchy.child_level
          this.$http.get('http://localhost:5000/api/geo/' +
            childLevel +
            '/intersect_with/' +
            this.area_level +
            '/' + area.id
          ).then(response => {
            this.area_level = childLevel
            this.areas = response.data.geo_data
            this.previousSelectedArea = false
          })
        }
      },
      quantile (iter, q) {
        let index = q * (iter.length - 1)
        if (Math.floor(index) === index) {
          return iter[index]
        } else {
          let i = Math.floor(index)
          let fraction = index - i
          return iter[i] + (iter[i + 1] - iter[i]) * fraction
        }
      },
      rainbow (value) {
        if (value < this.quantile(this.consoRange, 0.1)) {
          return '#fafbff'
        } else if (value < this.quantile(this.consoRange, 0.2)) {
          return '#ffe4ea'
        } else if (value < this.quantile(this.consoRange, 0.2)) {
          return '#ffd3d8'
        } else if (value < this.quantile(this.consoRange, 0.3)) {
          return '#ffbaba'
        } else if (value < this.quantile(this.consoRange, 0.4)) {
          return '#ffa3a8'
        } else if (value < this.quantile(this.consoRange, 0.5)) {
          return '#ff8e8e'
        } else if (value < this.quantile(this.consoRange, 0.6)) {
          return '#ff5d64'
        } else if (value < this.quantile(this.consoRange, 0.7)) {
          return '#ff3c42'
        } else if (value < this.quantile(this.consoRange, 0.8)) {
          return '#ff2a2e'
        } else if (value < this.quantile(this.consoRange, 0.9)) {
          return '#ff151c'
        } else {
          return '#ff004a'
        }
      }
    },
    created () {
      this.$http.get('http://localhost:5000/api/geo/' + this.area_level)
        .then(response => {
          this.areas = response.data.geo_data
          let consoRange = []
          for (let i = 0; i < this.areas.length; i++) {
            consoRange.push(this.areas[i].conso)
          }
          consoRange.sort()
          this.consoRange = consoRange
        })
    },
    watch: {
      selectedArea () {
        this.$refs[this.selectedArea.id][0].setColor(this.selectionColor)
      },
      areas () {
        let consoRange = []
        for (let i = 0; i < this.areas.length; i++) {
          consoRange.push(this.areas[i].conso)
        }
        consoRange.sort()
        this.consoRange = consoRange
      }
    }
  }
</script>


<style>
  #map {
    height: 100%;
    width: 100%;
    /*padding: 20px;*/
  }

  div.wrapper {
    height: 100%;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  v-map {
    /*margin: 20px;*/
    height: 100%;
  }
</style>
