<template>
  <v-app id="inspire" dark>

    <v-navigation-drawer
      id="right-pan"
      fixed
      v-model="drawerRight"
      :stateless="right"
      right
      clipped
      app
    >
      <v-list dense>
          <area-info :infos="areaInfos"></area-info>
      </v-list>
    </v-navigation-drawer>

    <v-toolbar
      color="grey darken-3"
      dark
      fixed
      app
      clipped-right
    >
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title>{{ hoverContent }}</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-title>{{ selectedArea.name }}</v-toolbar-title>
      <v-toolbar-side-icon @click.stop="drawerRight = !drawerRight"><v-icon large>info_outline</v-icon></v-toolbar-side-icon>
    </v-toolbar>

    <v-navigation-drawer
      fixed
      v-model="drawer"
      :stateless="left"
      app
    >
      <v-list dense>
        <v-list-tile @click.stop="left = !left">
          <v-list-tile-content>
            <v-list-tile-title>LEFT</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>

    <v-content>
      <v-container id="map-container" fluid fill-height>
        <vue-map :selectedArea="selectedArea"

                 @areaSelection="updateArea"
                 @hoverChange="updateHover"></vue-map>
      </v-container>
    </v-content>

    <v-footer id="footer" color="grey darken-3" class="white--text" app>
      <span>Vuetify</span>
      <v-spacer></v-spacer>
      <span>&copy; 2017</span>
    </v-footer>

  </v-app>
</template>

<script>
  import Map from './components/map.vue'
  import AreaInfo from './components/areaInfo.vue'

  export default {
    components: {
      'vue-map': Map,
      'area-info': AreaInfo
    },
    data: () => ({
      drawer: false,
      drawerRight: false,
      right: null,
      left: null,

      hoverContent: '',
      selectedArea: false,
      areaInfos: {
        observed: 0,
        predict: 0
//        contrib: {
//          labels: [],
//          effects: []
//        }
      }
    }),
    methods: {
//      EVENT HANDLER
//
      updateHover (content) {
        this.hoverContent = content
      },
      updateArea (area) {
        this.selectedArea = area
        if (area.level_hierarchy.current_level === 'iris') {
          this.$http.get('http://localhost:5000/api/model/' + area.id)
            .then(response => {
              this.areaInfos = response.data
            })
        }
      }
    },
    props: {
      source: String
    }
  }
</script>

<style>
  #map-container{
    padding: 0px;
  }

  #footer{
    min-height: 20px;
  }

</style>
